MINECRAFT_PORT={{ minecraft_config_server_port }}
MINECRAFT_RCON_PORT={{ minecraft_config_rcon_port }}
MINECRAFT_RCON_PASSWORD={{ minecraft_config_rcon_password }}
MINECRAFT_PID_PATH_NAME={{ minecraft_etc_dir }}/minecraft.pid
